html, body { width: 100%; height: 100%; background-color: #2D2D2D; }

#header { background-color: #F0BB68; height: 58px; width: 100%; margin-top: 0px; position: fixed; top: 0px; left: 0px; z-index: 1000; }

#buttons { width: 632px; margin: 0 auto; padding-top: 14px; }
#buttons .button { float: left; cursor: pointer; width: 200px; height: 32px; margin-right: 16px; }
#buttons .button:hover { opacity: .8; }
#buttons .button:active {
	-webkit-transform: scale(.95,.95);
	-moz-transform: scale(.95,.95);
	-o-transform: scale(.95,.95);
	transform: scale(.95,.95);

	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	transition:all .1s ease-in;
}

#buttons .bookmarklet { background: url('../img/bookmarklet.png') top left no-repeat; font-size: 0px; background-size: 100% 100%; }
#buttons .chrome { background: url('../img/chrome.png') top left no-repeat; background-size: 100% 100%; }
#buttons .safari { background: url('../img/safari.png') top left no-repeat; background-size: 100% 100%; }

#buttons .last { margin-right: 0px; }

#social { position: fixed; top: 12px; left: 10px; width: 200px; height: 54px; }
#social a { width: 32px; height: 32px; float: left;  }
#social a.twitter { background: url('../img/twitter.png') top left no-repeat; background-size: 100% 100%; }
#social a.facebook { background: url('../img/facebook.png') top left no-repeat; background-size: 100% 100%; }
#social a.twitter:hover, #social a.facebook:hover { opacity: .6; }
#social a.twitter:active, #social a.facebook:active {
	-webkit-transform: scale(.95,.95);
	-moz-transform: scale(.95,.95);
	-o-transform: scale(.95,.95);
	transform: scale(.95,.95);

	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	transition:all .1s ease-in;
}

#wrapper { padding-top: 60px; position: relative; padding-bottom: 100px; }

#logo { display: block; width: 740px; height: 618px; margin: 0 auto; -webkit-transform: scale( .9 ); }
#logo img { width: 740px; height: 618px; display: block; }

#title { width: 100%; text-align: center; margin-bottom: 30px; }
#title img { width: 500px; height: 25px; }

.arrow { display: block; width: 44px; height: 20px; margin: 0 auto; }

#player { width: 640px; height: 360px; margin: 0 auto; display: block; margin-top: 50px;  }